body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

/* Top bar */
.top-bar {
    background-color: #b51212;
    color: white;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: poppins;
}

.top-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    margin: 0 10px;
}

.top-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.social-icons {
    margin: 0px 100px 0px 10px;
    
}

.social-icons a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
}

/* Main header */
.main-header {
    background-color: #8ac441;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: book antiqua;
}

.logo {
    height: 80px;
}
.main-nav{
    margin-left: 500px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    margin: 0 15px;

}
.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;

}

.apply-button {
    background-color: #009edf;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}




.pagecontent{
    width:100% ;
    height: 2000px;
}


body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}
