    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
    }
    
    body {
        font-family: 'Lexend', sans-serif;
        font-size: 16px;
        line-height: 24px;
        background-color: #ffffff;
    }
    
    .admin-page h1 {
        color: #0064AA;
        font-size: 32px;
        text-decoration: underline;
    }
    
    .admin-page1 h1 {
        color: #0064AA;
        font-size: 32px;
        text-decoration: underline;
    }
    
    .container {
        width: 1170px;
        margin: auto;
        padding-top: 5px;
    }
    
    .pagenavigation {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        border-bottom: 2px solid #999494;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
    }
    
    .pagenavigation a {
        color: #000;
        text-decoration: none;
        transition: 0.3s;
    }
    
    .right {
        margin-right: 30px;
        display: flex;
    }
    
    .left {
        margin-left: 30px;
        display: flex;
    }
    
    .middle {
        display: flex;
    }
    
    .left:hover {
        background-color: #e4e4e4;
    }
    
    .middle:hover {
        background-color: #e4e4e4;
    }
    
    .right:hover {
        background-color: #e4e4e4;
    }
    
    .icon {
        align-items: center;
        padding-top: 5%;
        margin-right: 10px;
        margin-left: 10px;
    }
    /*---------------------------Navigation Bar---------------------------*/
    
    @media only screen and (max-width: 600px) {
        body {
            margin: 0;
            /* Remove default margin */
            padding: 0;
            /* Remove default padding */
            font-family: Arial, sans-serif;
            /* Example font-family */
            overflow-x: hidden;
            /* Hide horizontal scrollbar */
        }
        .container {
            width: 100%;
            /* Full width of viewport */
            max-width: 1200px;
            /* Adjust max-width as needed */
            margin: 0 auto;
            /* Center align container */
            padding: 10px;
            /* Add padding inside the container */
            box-sizing: border-box;
            /* Include padding and border in element's total width and height */
        }
        .top-bar {
            padding-left: 10px;
            padding-top: 10px;
        }
        .top-nav {
            flex-direction: column;
            align-items: center;
            display: flex;
        }
        .top-nav ul li {
            margin: 5px 2px;
            /* Adjust margin between items */
        }
        .top-bar.top-nav ul li a {
            margin-right: 1px;
        }
        .social-icons {
            margin-top: 10px;
            justify-content: center;
        }
        .main-header {
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-height: 400px;
            padding-top: 60px;
            padding-bottom: 100px;
            justify-content: center;
            display: flex;
        }
        .main-navigation {
            margin-top: 10px;
            padding: 10px 20px;
            /* Adjust padding to create space */
        }
        .main-header .main-navigation .main-nav ul {
            margin-left: 0;
        }
        .main-nav ul {
            flex-direction: column;
            text-align: center;
        }
        .main-nav ul li {
            position: relative;
            margin-bottom: 10px;
        }
        .main-nav li a {
            padding: 10px;
            /* Adjust padding for mobile view */
        }
        .main-nav.active {
            display: block;
        }
        .dropdown-content {
            position: static;
            display: none;
        }
        .apply-button {
            margin-top: 10px;
            /* Adjust margin as needed */
            /
        }
        .pagenavigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            /* Adjust padding as needed */
        }
        .nav-link {
            text-decoration: none;
            /* Remove underline from links */
        }
        .nav-item {
            display: flex;
            align-items: center;
        }
        .icon {
            margin-right: 5px;
            /* Adjust icon spacing */
        }
        .middle {
            margin-right: 10px;
        }
        .icon {
            margin-left: 0;
        }
        .profile-text {
            text-align: center;
            margin-bottom: 10px;
            /* Adjust margin as needed */
        }
        .profile-text h1 {
            font-size: 18px;
            /* Adjust font size for smaller screens */
            line-height: 1.2;
            /* Adjust line height to create space between lines */
            margin-bottom: 5px;
            /* Adjust margin as needed */
        }
        .about-content {
            padding: 0 40px 10px 20px;
            /* Add padding to prevent text from touching edges */
        }
        .timeline {
            display: flex;
            flex-direction: column;
        }
        .timeline-item {
            width: 100%;
        }
    }
    /*---------------------------Header---------------------------*/
    
    .header-area {
        padding: 25px 0;
        transition: padding .3s;
        background-color: #202020;
    }
    
    .header-area.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #202020;
        padding: 5px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding-bottom: 2rem; */
    }
    
    .logo {
        display: flex;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 700;
    }
    
    .logo .fa-bolt {
        color: #c12424;
        font-size: 19.5px;
        position: absolute;
        top: 60%;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    .signature {
        width: 100px;
        height: auto;
        margin-right: 10px;
    }
    
    .header ul li:first-child {
        margin-right: auto;
    }
    
    .header ul {
        display: flex;
        align-items: center;
    }
    
    .header ul li {
        margin: 0 15px;
    }
    
    .header ul li a {
        text-transform: capitalize;
        display: block;
    }
    
    .header ul li a.active {
        color: #c12424;
    }
    
    .header ul li a:hover {
        color: #c12424;
    }
    
    .header .menu_icon {
        color: #c12424;
        font-size: 18px;
        cursor: pointer;
        display: none;
    }
    /*---------------------------HomePage--------------------------*/
    
    .FirstElement {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5rem;
    }
    
    .FirstElement.adjusted-padding {
        padding-top: 40px;
    }
    
    .FirstElement .profile-photo {
        width: 275px;
        height: 275px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #444444;
        box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
    }
    
    .profile-photo {
        margin-bottom: 60px;
    }
    
    @media only screen and (max-width: 600px) {
        .profile-photo {
            margin-bottom: 0px;
        }
    }
    
    profile-photo .img {
        height: 100%;
        width: 100%;
        transition: 0.5s;
    }
    
    .FirstElement .profile-photo img:hover {
        transform: scale(1.2);
    }
    
    .profile-text {
        max-width: 750px;
        display: flex;
        flex-direction: column;
    }
    
    .profile-text h5 {
        color: #e5e5e5;
        font-size: 14px;
    }
    
    .profile-text h1 {
        color: #c12424;
        font-size: 3rem;
        text-align: left;
    }
    
    .profile-text p {
        color: #050505;
    }
    
    .profile-text .social i {
        color: #0d0d0d;
        font-size: 18px;
        margin-right: 10px;
        transition: 0.5s;
    }
    
    .profile-text .social i:hover {
        color: #c12424;
        transform: rotate(360deg);
    }
    /*---------------------------About---------------------------*/
    
    .about-area {
        padding-top: 33px;
        padding-right: 10px;
        margin: 50px 25px 10px;
        background-color: #b2b2b2;
        border-radius: 25px;
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .about-content {
        flex-basis: 100%;
    }
    
    .about-content h4 {
        color: #c12424;
        font-size: 70px;
        line-height: 70px;
        text-transform: capitalize;
    }
    
    .container h5 {
        color: #000000;
        font-size: 30px;
        padding-left: 3%;
        padding-bottom: 1.5%;
        padding-right: -15px;
        padding-top: 0%;
        margin-top: -10px;
    }
    
    .about-content ul {
        color: #000000;
        text-align: justify;
        font: Nunito Semibold;
    }
    
    .about-content ul li {
        list-style-type: disc;
        margin-bottom: 10px;
    }
    
    .about-skills {
        flex-basis: 50%;
        background-color: #ffffff;
    }
    
    .about-skills ul li {
        border-bottom: 1px dashed #000000;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #000000;
        font-size: 18px;
    }
    
    .about-skills ul li:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    /*---------------------------Button---------------------------*/
    
    .btn-group {
        margin: 45px 0;
    }
    
    .btn-group .btn {
        border-color: #d5d5d5;
        color: #fff;
        background-color: #009edf;
        padding: 12px 25px;
        margin: 5px 0;
        margin-right: 7px;
        border-radius: 30px;
        box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    }
    
    .btn-group a {
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
    }
    /*---------------------------Education & Internship---------------------------*/
    /*rgba(209, 207, 207, 0.979)*/
    
    .education-content {
        padding-bottom: -10px;
        margin-top: -25px;
    }
    
    .education-content .row {
        display: flex;
        border-radius: 5px;
        height: 300px;
        margin-bottom: 25px;
    }
    
    .education-content .title {
        color: #111111;
        font: book antiqua;
    }
    
    .education-content .row .education,
    .education-content .row .internship {
        color: #000000;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    
    .education-content h3.title {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: italics;
    }
    
    .education-content .row.timeline-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .education-content .row .timeline {
        padding: 30px 15px;
        /*border: 1px solid #000000;*/
        border-radius: 10px;
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .education-content .row .timeline-item {
        position: relative;
        padding-left: 10px;
        padding-bottom: 50px;
        margin-right: 80px;
    }
    
    .education-content .row .internship .timeline-item {
        position: relative;
        padding-left: 37px;
        padding-bottom: 30px;
    }
    
    .education-content .row .timeline-item:last-child {
        padding-bottom: 0;
    }
    
    .education-content .row .circle-dot {
        position: absolute;
        left: 0;
        top: 0;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #f12424;
    }
    
    .education-content .row .timeline-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 12px;
    }
    
    .education-content .row .internship .timeline-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 8px;
        color: black;
        /*#0071bc*/
    }
    /*---------------------------Projects---------------------------*/
    
    .project-content {
        padding: 90px 0;
        /* color:#fff;  */
        margin-top: -150px;
    }
    
    .project-title {
        margin-bottom: 60px;
        text-align: center;
    }
    
    .project-title h4 {
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
        color: #070707;
        margin-bottom: 20px;
        font-family: sans-serif;
    }
    
    .project-title p {
        color: #101110;
        font-family: sans-serif;
    }
    
    .projects {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .project {
        /* padding: 30px 15px; */
        color: #000000;
        border: 2px solid #e5e5e5;
        border-radius: 10px;
        width: 100%;
        position: relative;
        padding: 25px;
        text-align: center;
        flex-basis: 32%;
        transition: .3s;
        background-color: #8ac441;
    }
    
    .project i {
        background-color: #8ac441;
        width: 80px;
        height: 80px;
        color: #f0f3f0d0;
        font-size: 26px;
        line-height: 100px;
        border-radius: 50%;
    }
    
    .project h4 {
        font-size: 26px;
        text-transform: capitalize;
        margin: 20px 0;
    }
    
    .project p {
        text-align: justify;
    }
    
    .project:hover {
        border-color: #c12424;
    }
    /*---------------------------Contact Me---------------------------*/
    
    .contact-content {
        padding: 100px 0;
        color: #000000;
        text-align: center;
    }
    
    .contact-content .contact-title h4 {
        font-size: 40px;
        text-transform: capitalize;
        color: #c12424;
        padding-bottom: 10px;
    }
    
    .contact-content .contact-title p {
        padding-bottom: 20px;
    }
    
    .contact {
        max-width: 700px;
        margin: auto;
    }
    
    .contact input,
    .contact textarea {
        width: 100%;
        padding: 15px;
        border: 0;
        margin-bottom: 10px;
    }
    
    .contact .submit {
        width: auto;
        background-color: #c12424;
        padding: 10px 40px;
        font-weight: bold;
        font-size: 18px;
    }
    
    .contact .submit:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    #msg {
        color: #000000;
        font-size: 20px;
        margin-top: -8px;
        display: block;
    }
    /*---------------------------Footer---------------------------*/
    
    .footer {
        max-width: 950px;
        margin: 0 auto;
        padding: 15px 0 26px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        color: rgba(9, 9, 9, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer .message {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
    }
    
    .copyright {
        font-size: 12px;
    }
    /*------------------- Responsive Design on small screen -------------------*/
    /* Medium layout */
    
    @media only screen and (min-width:1000px) and (max-width:1200px) {
        .container {
            width: 970px;
        }
    }
    
    @media(max-width:1050px) {
        .FirstElement {
            flex-direction: column;
            padding-top: 2rem;
        }
        .profile-text {
            padding: 40px 0px;
        }
    }
    /* tablet layout */
    
    @media only screen and (min-width:768px) and (max-width:999px) {
        .container {
            width: 750px;
        }
    }
    /* Mobile Layout */
    
    @media only screen and (max-width:767px) {
        .container {
            width: 350px;
        }
        .header .menu_icon {
            display: block;
        }
        .header ul {
            display: none;
        }
        .header i {
            color: #e5e5e5;
        }
        .profile-text {
            width: 350px;
        }
        .FirstElement .profile-text p {
            text-align: justify;
        }
        .about {
            flex-direction: column;
            flex-basis: 100%;
            margin-bottom: 30px;
        }
        .about-skills {
            width: 100%;
            margin-top: 30px;
        }
        .education-content .row {
            flex-direction: column;
            height: auto;
            margin-bottom: 50px;
        }
        .education-content .row .education,
        .education-content .row .internship {
            flex-basis: 100%;
            max-width: 100%;
            margin-top: 30px;
        }
        .project {
            flex-basis: 100%;
            margin-bottom: 30px;
        }
    }
    
    h1 {
        font-family: bookman-old-style;
        font-size: 50px;
        font-weight: bold;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .member-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style: decimal inside;
        padding: 0;
    }
    
    .member-list li {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, background-color 0.3s;
        counter-increment: list;
    }
    
    .member-list li a {
        color: #000;
        text-decoration: none;
    }
    
    .member-list li a:hover {
        color: #0064AA;
    }
    
    .member-list li::before {
        /* content: counter(list) ". "; */
        font-weight: bold;
        margin-right: 10px;
    }
    
    .member-list li:hover {
        transform: translateY(-5px);
        background-color: #e0f7fa;
    }
    
    .member-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: #e0e0e0;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .member-details {
        flex: 1;
    }
    
    .member-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }
    
    .member-role {
        color: #777;
    }
    
    @media (max-width: 600px) {
        .member-list {
            display: flex;
            flex-direction: column;
        }
        .member-list li {
            flex-direction: column;
            align-items: center;
        }
        .member-image {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .member-image img {
            width: 80px;
            height: 80px;
        }
        .member-details {
            text-align: center;
        }
        .member-title {
            font-size: 1em;
        }
        .member-role {
            font-size: 0.9em;
        }
    }